<h1><%= @post.title %></h1>

<%= @post.content %>

<ul>
  <li type="circle">
  <% @post.categories.each do |category| %>
    <% if category == @post.categories.last %>
    <%= category.name %>
    <% else %>
    <%= category.name %>,
    <% end %>
  <% end %>
  </li>
</ul>
<br>
<%= button_to 'Edit Post', edit_post_path, method: :get %>
<%= button_to 'Delete Post', destroy_post_path, method: :delete %>
